{{>header}}

	<!-- Top area strats -->
	<div class="top-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 d-flex mb-120">
					<div class="top-content">
						<ul>
							<li>
								<a href="/">
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
											stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</a>
							</li>
							<li>Administrador</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top area ends -->
	<!-- Strats deshboard section -->
	<div class="dashboard-section mb-130 pb-130">
	  	{{#error}}
        	<div class="container alert alert-danger">{{error}}</div>
    	{{/error}}
    	{{#success}}
        	<div class="container alert alert-success">{{success}}</div>
    	{{/success}}
	
		<div class="admin-dashboard container my-5">
		    <div class="row text-center g-4">
		
		        <!-- Obra de arte -->
		        <div class="col-md-4">
		            <div class="card shadow border-0 p-4">
		                <h4>Obra de arte</h4>
		                <a href="/admin/artwork/new" class="btn btn-success my-2">Crear</a>
		                <a href="/artworks" class="btn btn-primary">Editar</a>
		            </div>
		        </div>
		
		        <!-- Artista -->
		        <div class="col-md-4">
		            <div class="card shadow border-0 p-4">
		                <h4>Artista</h4>
		                <a href="/admin/artist/new" class="btn btn-success my-2">Crear</a>
		                <a href="/artists" class="btn btn-primary">Editar</a>
		            </div>
		        </div>
		
		        <!-- Museo -->
		        <div class="col-md-4">
		            <div class="card shadow border-0 p-4">
		                <h4>Museo</h4>
		                <a href="/admin/museum/new" class="btn btn-success my-2">Crear</a>
		                <a href="/museums" class="btn btn-primary">Editar</a>
		            </div>
		        </div>
		
		        <!-- Usuario -->
		        <div class="col-md-4">
		            <div class="card shadow border-0 p-4">
		                <h4>Usuario</h4>
		                <a href="/admin/user/new" class="btn btn-success my-2">Crear</a>
		                <a href="/users" class="btn btn-primary">Editar</a>
		            </div>
		        </div>
		        
		        <!-- Reviews -->
		        <div class="col-md-4">
		            <div class="card shadow border-0 p-4">
		                <h4>Review</h4>
		                <a href="/admin/review/new" class="btn btn-success my-2">Crear</a>
		                <a href="/artworks" class="btn btn-primary">Editar</a>
		            </div>
		        </div>
		        
		        <!-- Stats -->
		        <div class="col-md-4">
		            <div class="card shadow border-0 p-4">
		                <h4>Estadísticas</h4>
		                <a href="/admin/stats" class="btn btn-secondary my-2">Visualizar</a>
		            </div>
		        </div>
		
		    </div>
		</div>
		
	</div>
	<!-- Ends dashboard section -->

{{>footer}}