{{>header}}

	<!-- Top area strats -->
	<div class="top-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 d-flex mb-120">
					<div class="top-content">
						<ul>
							<li>
								<a href="/">
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
											stroke="white" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</a>
							</li>
							<li>Registrarse</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top area ends -->
	<!-- Strats deshboard section -->
	<div class="dashboard-section mb-120">
	  	{{#errorMessage}}
        	<div class="container alert alert-danger">{{errorMessage}}</div>
    	{{/errorMessage}}
    	{{#success}}
        	<div class="container alert alert-success">{{success}}</div>
    	{{/success}}
	
		<div class="container">
			<div class="dashboard-wrapper" style=" display: block;">
				<div class="dashboard-content-wrap">
					<div class="dashboard-profile-content">
						<div class="single-content">
							<h2>Crear nueva cuenta</h2>
							<form action="/register/new" method="post">
								<input type="hidden" name="_csrf" value="{{token}}"/>
								<div class="row">
									<div class="col-md-6">
										<div class="form-inner mb-30">
											<label for="username">Usuario <span class="required" aria-hidden="true">*</span></label>
											<input id="username" name="username" type="text" required="required">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-inner mb-30">
											<label for="email">Email <span class="required" aria-hidden="true">*</span></label>
											<input id="email" name="email" type="text" required="required">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label for="password">Contraseña <span class="required" aria-hidden="true">*</span></label>
                                            <input name="password" id="password" type="password" required="required">
                                            <i class="bi bi-eye-slash" id="togglePassword2"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-inner mb-30">
                                            <label for="password1">Confirmar contraseña <span class="required" aria-hidden="true">*</span></label>
                                            <input name="password1" id="password1" type="password" required="required">
                                            <i class="bi bi-eye-slash" id="togglePassword3"></i>
                                        </div>
                                    </div>
								</div>
								<div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="form-inner">
                                            <label for="location">Ciudad (Opcional)</label>
                                            <input name="location" id="location" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="form-inner">
                                            <label for="biography">Biografía (Opcional)</label>
                                            <input name="biography" id="biography" type="text">
                                        </div>
                                    </div>
                                </div>
								<div class="form-inner style-2">
									<button type="submit" class="primary-btn2 btn-hover">
										<span>Registrarse</span>
										<strong style="top: -28.5px; left: 73.9531px;"></strong>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Ends deshboard section -->

{{>footer}}