{{>header}}

    <!-- Strats dashboard section -->
    <div class="wishlist-section mb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="dashboard-order-content">
                        <div class="dashboard-order-table">
                            <table class="mb-0">
                                <thead>
                                    <tr>
                                        <th>Artwork ID</th>
                                        <th>Image</th>
                                        <th>Bid Amount</th>
                                        <th>Place A Bid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Bidding ID"><span class="table-text">Nft_HvO253gT</span></td>
                                        <td data-label="Image"><img src="assets/img/inner-page/order-image.png" alt="">
                                        </td>
                                        <td data-label="Bid Amount"><span class="table-text">$2000.00</span></td>
                                        <td data-label="Place A Bid">
                                            <a href="#" class="primary-btn1 btn-hover">
                                                <span>Bidding Start</span>
                                                <strong></strong>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Bidding ID"><span class="table-text">Nft_HvO253gT</span></td>
                                        <td data-label="Image"><img src="assets/img/inner-page/order-image2.png" alt="">
                                        </td>
                                        <td data-label="Bid Amount"><span class="table-text">$3000.00</span></td>
                                        <td data-label="Place A Bid">
                                            <a href="#" class="primary-btn1 btn-hover">
                                                <span>Bidding Start</span>
                                                <strong></strong>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Bidding ID"><span class="table-text">Nft_HvO253gT</span></td>
                                        <td data-label="Image"><img src="assets/img/inner-page/order-image3.png" alt="">
                                        </td>
                                        <td data-label="Bid Amount"><span class="table-text">$4000.00</span></td>
                                        <td data-label="Place A Bid">
                                            <a href="#" class="primary-btn1 btn-hover">
                                                <span>Bidding Start</span>
                                                <strong></strong>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Bidding ID"><span class="table-text">Nft_HvO253gT</span></td>
                                        <td data-label="Image"><img src="assets/img/inner-page/order-image4.png" alt="">
                                        </td>
                                        <td data-label="Bid Amount"><span class="table-text">$5000.00</span></td>
                                        <td data-label="Place A Bid">
                                            <a href="#" class="primary-btn1 btn-hover">
                                                <span>Bidding Start</span>
                                                <strong></strong>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Bidding ID"><span class="table-text">Nft_HvO253gT</span></td>
                                        <td data-label="Image"><img src="assets/img/inner-page/order-image5.png" alt="">
                                        </td>
                                        <td data-label="Bid Amount"><span class="table-text">$8000.00</span></td>
                                        <td data-label="Place A Bid">
                                            <a href="#" class="primary-btn1 btn-hover">
                                                <span>Bidding Start</span>
                                                <strong></strong>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="Bidding ID"><span class="table-text">Nft_HvO253gT</span></td>
                                        <td data-label="Image"><img src="assets/img/inner-page/order-image6.png" alt="">
                                        </td>
                                        <td data-label="Bid Amount"><span class="table-text">$7000.00</span></td>
                                        <td data-label="Place A Bid">
                                            <a href="#" class="primary-btn1 btn-hover">
                                                <span>Bidding Start</span>
                                                <strong></strong>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ends dashboard section -->
    
{{>footer}}