{{>header}}
	{{#artwork}}
    <!-- Top area strats -->
    <div class="top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex mb-120">
                    <div class="top-content style-3">
                        <ul>
                            <li>
                                <a href="/">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1.125 5.99955L5.602 1.52205C5.822 1.30255 6.178 1.30255 6.3975 1.52205L10.875 5.99955M2.25 4.87455V9.93705C2.25 10.2475 2.502 10.4995 2.8125 10.4995H4.875V8.06205C4.875 7.75155 5.127 7.49955 5.4375 7.49955H6.5625C6.873 7.49955 7.125 7.75155 7.125 8.06205V10.4995H9.1875C9.498 10.4995 9.75 10.2475 9.75 9.93705V4.87455M4.125 10.4995H8.25"
                                            stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </li>
                            <li><a href="/artworks">Obras de arte</a></li>
                            <li>{{title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top area ends -->
    <!-- Auction details section strats here -->
    <div class="auction-details-section mb-120">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-7">
                    <div class="auction-details-img">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-img1" role="tabpanel">
                                <div class="auction-details-tab-img">
                                    <div class="swiper auction-details-tab-swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="tab-image">
                                                    <img src="/artwork/image/{{id}}" alt="Imagen de {{title}}" style="width: -webkit-fill-available;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="auction-details-content">
                        <h3>{{title}}</h3>
                        <ul class="artist-info">
                            <li><span>Artista : </span><a href="/artists/{{artist.id}}">{{artist.name}}</a></li>
                            <li><span>Museo : </span><a href="/museum/{{museum.id}}">{{museum.name}}</a></li>
                            <li><span>Puntuación : </span>{{averageRating}}</li>
                        </ul>
                    {{#logged}}
					{{^admin}}
					<div class="whishlist-area">
						{{#isFavoriteArtwork}}
				        <a class="wishlist wishlist-hovered" href="/artwork/favourite/delete/{{id}}?page={{currentPage}}">
					    <span>
                            <svg width="16" height="15" viewBox="0 0 16 15"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z">
                                </path>
                            </svg>
						</span> Eliminar de la lista de favoritos
						</a>
						{{/isFavoriteArtwork}}
						{{^isFavoriteArtwork}}
				        <a class="wishlist" href="/artwork/favourite/add/{{id}}?page={{currentPage}}">
					    <span>
                            <svg width="16" height="15" viewBox="0 0 16 15"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z">
                                </path>
                            </svg>
						</span> Añadir a la lista de favoritos
						</a>
						{{/isFavoriteArtwork}} 
					</div>
					<div class="dashboard-content-wrap" style="border-top: 1px solid black; padding-top: 25px">
						<h4>Dejar tu opinión</h4>
						{{^userReview}}
						<form action="/review/new" method="post">
	                    	<input type="hidden" name="_csrf" value="{{token}}"/>
	                    	<input type="hidden" name="id" value="{{id}}"/>
	                        <div class="row">
	                            <div class="col-12 mb-30">
	                            	<label class="form-inner">Puntuación</label>
	                                <div class="product-review-stars">
										<input type="radio" id="star5" name="rating" value="5"
											class="visuallyhidden" /><label for="star5" title="De lo mejor que he visto">★</label>
										<input type="radio" id="star4" name="rating" value="4"
											class="visuallyhidden" /><label for="star4" title="Está muy bien">★</label>
										<input type="radio" id="star3" name="rating" value="3"
											class="visuallyhidden" /><label for="star3" title="Normal">★</label>
										<input type="radio" id="star2" name="rating" value="2"
											class="visuallyhidden" /><label for="star2" title="Malo">★</label>
										<input type="radio" id="star1" name="rating" value="1"
											class="visuallyhidden" /><label for="star1"
											title="Muy malo">★</label>
									</div>
	                            </div>
	                            <div class="col-12 mb-30">
	                                <div class="form-inner">
	                                    <label>Comentario</label>
	                                    <input name="comment" id="comment" type="text">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-inner style-2">
	                            <button type="submit" class="primary-btn2 btn-hover">
	                                <span>Añadir review</span>
	                                <strong></strong>
	                            </button>
	                        </div>
	                    </form>
	                    {{/userReview}}
	                    {{#userReview}}
						<form action="/review/edit" method="post">
	                    	<input type="hidden" name="_csrf" value="{{token}}"/>
	                    	<input type="hidden" name="id" value="{{id}}"/>
	                        <div class="row">
	                            <div class="col-12 mb-30">
	                            	<label class="form-inner">Puntuación</label>
	                                <div class="product-review-stars">
										 <input type="radio" id="star5" name="rating" value="5" class="visuallyhidden"
									        {{#userReview}}{{#rating}}{{#is5}}checked{{/is5}}{{/rating}}{{/userReview}} />
									    <label for="star5" title="De lo mejor que he visto">★</label>
									
									    <input type="radio" id="star4" name="rating" value="4" class="visuallyhidden"
									        {{#userReview}}{{#rating}}{{#is4}}checked{{/is4}}{{/rating}}{{/userReview}} />
									    <label for="star4" title="Está muy bien">★</label>
									
									    <input type="radio" id="star3" name="rating" value="3" class="visuallyhidden"
									        {{#userReview}}{{#rating}}{{#is3}}checked{{/is3}}{{/rating}}{{/userReview}} />
									    <label for="star3" title="Normal">★</label>
									
									    <input type="radio" id="star2" name="rating" value="2" class="visuallyhidden"
									        {{#userReview}}{{#rating}}{{#is2}}checked{{/is2}}{{/rating}}{{/userReview}} />
									    <label for="star2" title="Malo">★</label>
									
									    <input type="radio" id="star1" name="rating" value="1" class="visuallyhidden"
									        {{#userReview}}{{#rating}}{{#is1}}checked{{/is1}}{{/rating}}{{/userReview}} />
									    <label for="star1" title="Muy malo">★</label>
									</div>
	                            </div>
	                            <div class="col-12 mb-30">
	                                <div class="form-inner">
	                                    <label>Comentario</label>
	                                    
	                                    <input name="comment" id="comment" type="text" {{#comment}}value="{{comment}}"{{/comment}}>
	                                    
	                                </div>
	                            </div>
	                        </div>
	                        <div class="form-inner style-2">
	                            <button type="submit" class="primary-btn2 btn-hover">
	                                <span>Editar review</span>
	                                <strong></strong>
	                            </button>
	                        </div>
	                    </form>
	                    {{/userReview}}
                    </div>
                    {{/admin}}
                    {{#admin}}
                  	<div>
                        <a href="/admin/artwork/edit/{{id}}" class="btn btn-info">
                            <span>Editar obra de arte</span>
                            <strong></strong>
                        </a>
                        <a href="/admin/artwork/delete/{{id}}" class="btn btn-danger" 
                        style="background-color: var(--bs-danger);" 
                        onclick="return confirm('¿Estás seguro de que quieres eliminar esta obra de arte?');">
                            <span>Eliminar obra de arte</span>
                            <strong></strong>
                        </a>
                    </div>
                    {{/admin}}
					{{/logged}}
				</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Auction details section ends here -->
    <!-- Product description section strats here -->
    <div class="product-description mb-120">
        <div class="container">
            <div class="row justify-content-center gy-4">
                <div class="col-xxl-6 col-lg-6">
                    <div class="artist-overview">
                        <h5>Artista</h5>
                        <ul>
                       		<li>
                                <h6>Nombre</h6>
                                <p>{{artist.name}}</p>
                            </li>
                            {{#dateOfBirth}}
                            <li>
                                <h6>Fecha de nacimiento y fallecimiento</h6>
                                {{#artist.dateOfDeath}}
						        	<p>{{artist.dateOfBirth}}, y falleció en {{artist.dateOfDeath}}</p>
							    {{/artist.dateOfDeath}}
							    {{^artist.dateOfDeath}}
							        <p>{{artist.dateOfBirth}}</p>
							    {{/artist.dateOfDeath}}
                            </li>
                            {{/dateOfBirth}}
                            {{#artist.nationality}}
                            <li>
                                <h6>Nacionalidad</h6>
                                <p>{{this}}</p>
                            </li>
                            {{/artist.nationality}}
                            <li>
                                <h6>Biografía</h6>
                                <p>{{artist.biography}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6">
                    <div class="exploring-artwork">
                        <h5>Explorando la obra de arte</h5>
                        <ul>
                        	<li>
                                <h6>Título</h6>
                                <p>{{title}}</p>
                            </li>
                            <li>
                                <h6>Año de creación</h6>
                                <p>{{creationYear}}</p>
                            </li>
                            <li>
                                <h6>Descripción</h6>
                                <p>{{description}}</p>
                            </li>
                            <li>
                                <h6>Localización</h6>
                                <p>{{museum.name}} ({{museum.location}})</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/artwork}}

	{{^reviewsEmpty}}
	<div class="auction-card-sidebar-section mb-120">
        <div class="container">
        	<div class="col-lg-12 mb-3">
                <div class="section-title">
                    <h3>Reviews</h3>
                </div>
            </div>
            <div class="row gy-5">
                <div class="col-12 order-1">
                    <div class="row">
                        <div class="col-lg-12 mb-30">
                            <div class="auction-card-top-area">
                                <div class="left-content">
                                    <h6>Mostrando <span>{{range}}</span> de <span>{{totalReviews}}</span> reviews.</h6>
                                </div>
                                <div class="right-content">
                                    <form method="get">
                                    	<input type="hidden" name="page" value="{{currentPage}}">
	                                    <div class="category-area d-lg-flex d-none active">
	                                        <select name="sort" onchange="this.form.submit()">
										        <option value="createdAt" {{#sortCreatedAt}}selected{{/sortCreatedAt}}>Más recientes</option>
										        <option value="rating" {{#sortRating}}selected{{/sortRating}}>Mayor Puntuación</option>
										        <option value="ratingAsc" {{#sortRatingAsc}}selected{{/sortRatingAsc}}>Menor Puntuación</option>
										        <option value="createdAtAsc" {{#sortCreatedAtAsc}}selected{{/sortCreatedAtAsc}}>Más antiguos</option>
										    </select>
	                                    </div>
                                    </form>
                                    <ul class="size-icon grid-view d-lg-flex d-none">
                                        <li class="column-2">
                                            <svg width="7" height="14" viewBox="0 0 7 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.75 13.1875L0.749999 0.8125M5.8125 13.1875L5.8125 0.8125"
                                                    stroke="#A0A0A0" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </li>
                                        <li class="column-3 active">
                                            <svg width="10" height="14" viewBox="0 0 10 14" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M1.0625 13.1875L1.0625 0.8125M5 13.1875L5 0.8125M8.9375 13.1875L8.9375 0.8125"
                                                    stroke="white" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-grid-product-wrap">
                        <div class="row gy-4">
                            {{#reviewsPage}}
                            <div class="col-lg-4 col-md-6 item wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
                                <div class="auction-card">
                                    <div class="auction-card-content" style="padding: 25px 15px 25px; border: 1px solid var(--border-color); border-top: outset;">
                                        <h6><a href="/public-profile/{{user.name}}"><b>{{user.name}}</b></a>
                                        </h6>
                                        <ul>
                                            {{#comment}}<li><span>Comentario : </span>{{comment}}</a></li>{{/comment}}
                                            <li><span>Puntuación : </span>{{rating}}</li>
                                        </ul>
                                        
                                        {{#admin}}
                                        <div class="mt-3">
	                                        <a href="/admin/review/edit/{{id}}" class="bid-btn btn-info btn-hover" 
	                                        style="background-color: var(--bs-info);">
	                                            <span>Editar</span>
	                                            <strong></strong>
	                                        </a>
	                                        <a href="/admin/review/delete/{{id}}" class="bid-btn btn-danger btn-hover" 
	                                        style="background-color: var(--bs-danger);" 
	                                        onclick="return confirm('¿Estás seguro de que quieres eliminar esta review?');">
	                                            <span>Eliminar</span>
	                                            <strong></strong>
	                                        </a>
                                        </div>
                                        {{/admin}}
                                    </div>
                                </div>
                            </div>
                            {{/reviewsPage}}
                        </div>
                    </div>
                    <div class="row wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="col-lg-12">
                            <div class="page-navigation-area d-flex flex-wrap align-items-center justify-content-between">
                                
                                <div class="prev-next-btn">
                                    {{#previousPage}}
                                    <a href="/artworks/{{id}}?page={{this}}&sort={{sort}}">
                                        <svg width="7" height="14" viewBox="0 0 7 14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 7.00008L7 0L2.54545 7.00008L7 14L0 7.00008Z" />
                                        </svg>
                                        Anterior
                                    </a>
                                	{{/previousPage}}
                                </div>
                                
                                {{#reviewsPage.totalPages}}
                                <ul class="pagination">
                                	{{#previousPage}}
                                    <li><a href="/artworks/{{id}}?page={{this}}&sort={{sort}}">{{this}}</a></li>
                                    {{/previousPage}}
                                    <li class="active"><a>{{currentPage}}</a></li>
                                    {{#nextPage}}
                                    <li><a href="/artworks/{{id}}?page={{this}}&sort={{sort}}">{{this}}</a></li>
                                    {{/nextPage}}
                                </ul>
                                {{/reviewsPage.totalPages}}
                                
                                <div class="prev-next-btn">
                                	{{#nextPage}}
                                    <a href="/artworks/{{id}}?page={{this}}&sort={{sort}}">
                                        Siguiente
                                        <svg width="7" height="14" viewBox="0 0 7 14"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 7.00008L0 0L4.45455 7.00008L0 14L7 7.00008Z" />
                                        </svg>
                                    </a>
                                	{{/nextPage}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/reviewsEmpty}}
    
    <!-- Product description section ends here -->
    <!-- Home1 Auction Slider Section Start -->
    <div class="home1-auction-slider-section mb-120">
        <div class="container">
            <div class="row mb-50 align-items-center justify-content-between flex-wrap gap-3 wow animate fadeInDown"
                data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3>Obras similares</h3>
                    </div>
                </div>
            </div>
            <div class="auction-slider-wrap wow animate fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper home1-auction-slider">
                            <div class="swiper-wrapper">
                            	{{#find7RandomArtworks}}
                                <div class="swiper-slide">
                                    <div class="auction-card">
                                        <div class="auction-card-img-wrap">
                                            <a href="/artworks/{{id}}" class="card-img">
                                               	<img src="/artwork/image/{{id}}" alt="Imagen de {{title}}" loading="lazy">
                                            </a>
	                                        {{^admin}}
                                            {{#logged}}
		                                       	{{#isFavorite}}
										        <a class="wishlist wishlist-hovered" href="/artwork/favourite/delete/{{id}}?page={{currentPage}}">   
											    {{/isFavorite}}
											    {{^isFavorite}}
										        <a class="wishlist" href="/artwork/favourite/add/{{id}}?page={{currentPage}}">   
											    {{/isFavorite}}  
		                                            <svg width="16" height="15" viewBox="0 0 16 15"
		                                                xmlns="http://www.w3.org/2000/svg">
		                                                <path
		                                                    d="M8.00013 3.32629L7.32792 2.63535C5.75006 1.01348 2.85685 1.57317 1.81244 3.61222C1.32211 4.57128 1.21149 5.95597 2.10683 7.72315C2.96935 9.42471 4.76378 11.4628 8.00013 13.6828C11.2365 11.4628 13.03 9.42471 13.8934 7.72315C14.7888 5.95503 14.6791 4.57128 14.1878 3.61222C13.1434 1.57317 10.2502 1.01254 8.67234 2.63441L8.00013 3.32629ZM8.00013 14.8125C-6.375 5.31378 3.57406 -2.09995 7.83512 1.8216C7.89138 1.87317 7.94669 1.9266 8.00013 1.98192C8.05303 1.92665 8.10807 1.87349 8.16513 1.82254C12.4253 -2.10182 22.3753 5.31284 8.00013 14.8125Z">
		                                                </path>
		                                            </svg>
		                                        </a>
	                                        {{/logged}}
	                                        {{/admin}}
                                        </div>
                                        <div class="auction-card-content">
                                            <h6><a href="/artworks/{{id}}">{{title}}</a>
                                            </h6>
                                            <ul>
                                                <li><span>Artista : </span><a href="/artists/{{artist.id}}">{{artist.name}}</a></li>
                                                <li><span>Puntuación : </span>{{averageRating}}</li>
                                            </ul>
                                            <a href="/artworks/{{id}}" class="bid-btn btn-hover">
                                                <span>Detalles</span>
                                                <strong></strong>
                                            </a>
	                                        
	                                        {{#admin}}
	                                        <div class="mt-3">
		                                        <a href="/admin/artwork/edit/{{id}}" class="bid-btn btn-info btn-hover" 
		                                        style="background-color: var(--bs-info);">
		                                            <span>Editar</span>
		                                            <strong></strong>
		                                        </a>
		                                        <a href="/admin/artwork/delete/{{id}}" class="bid-btn btn-danger btn-hover" 
		                                        style="background-color: var(--bs-danger);" 
		                                        onclick="return confirm('¿Estás seguro de que quieres eliminar esta obra?');">
		                                            <span>Eliminar</span>
		                                            <strong></strong>
		                                        </a>
	                                        </div>
	                                        {{/admin}}
                                        </div>
                                    </div>
                                </div>
                                {{/find7RandomArtworks}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-btn-grp">
                    <div class="slider-btn auction-slider-prev">
                        <svg width="10" height="16" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.735295 8.27932L10 16L4.10428 8.27932L10 0.558823L0.735295 8.27932Z" />
                        </svg>
                    </div>
                    <div class="slider-btn auction-slider-next">
                        <svg width="10" height="16" viewBox="0 0 10 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.26471 7.72068L0 0L5.89572 7.72068L0 15.4412L9.26471 7.72068Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Home1 Auction Slider Section End -->

{{>footer}}